
@{
    ViewBag.Title = "StudentManagement";
}

<h2>StudentManagement</h2>

<div class="content">
    <div class="container-default animated fadeInRight">
        <div class="panel panel-default">
            <div class="panel-title"><i class="fa fa-graduation-cap"></i>Students</div>
            <div class="panel-body">
                <div class="row col-md-2">
                    <button id="upload-btn" class="btn btn-primary"><i class="fa fa-upload"></i>Import Students</button>
                    <span id="file-name">Nothing has been selected...</span>
                    <input type="file" value="Import Students" class="hidden" id="upload-file" />
                </div>
                <div class="row col-md-2">
                    <button class="btn btn-success" disabled="disabled" id="submit-btn">
                        Submit file
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#upload-btn").click(function () {
            $("#upload-file").trigger("click");
        });

        $("#upload-file").on("change", function () {
            var filename = this.files[0].name;
            $("#file-name").html(filename);
            if (filename != null) {
                $("#submit-btn").removeAttr("disabled");
            } else {
                $("#submit-btn").attr("disabled", "disabled");
            }
        });

        $("#submit-btn").on("click", function () {
            var form = new FormData();
            for (var i = 0; i < $("#upload-file")[0].files.length; i++) {
                form.append("file" + i, $("#upload-file")[0].files[i]);
            }

            $.ajax({
                type: "post",
                url: "@Url.Action("UploadStudent", "Management")",
                contentType: false,
                processData: false,
                data: form,
                success: function (result) {
                    if (result.success) {
                        toastr.success(result.message);
                    } else {
                        toastr.error(result.message);
                    }
                },
                error: function (xhr, status, p3, p4) {
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    toastr.error(err);
                }

            })
        });
    });
</script>
