
@{
    ViewBag.Title = "RegisterCourseManagement";
}

<div class="content">
    <div class="container-default animate fadeInRight" >
        <div class="panel panel-default">
            <div></div>
        </div>
    </div>
</div>

