CaptstoneProject/.vs/
CaptstoneProject/CaptstoneProject/obj/
CaptstoneProject/CaptstoneProject/bin/
CaptstoneProject/DataService/obj/
CaptstoneProject/DataService/bin/
FPTFinanceAcademic/.vs/
CaptstoneProject/CaptstoneProject/Khao thi/
CaptstoneProject/CaptstoneProject/Khao thi Old/
CaptstoneProject/CaptstoneProject/SubjectList/
FGReader/FuGradeLib/bin/
FGReader/FuGradeLib/obj/
FGReader/FGReader/bin/
CaptstoneProject/FGReader/obj/
FGReader/.vs/
FGReader/FGReader/obj/
FGReader/FGReader/bin/
CaptstoneProject/FGReader/bin/
CaptstoneProject/CaptstoneProject/Fall 2017 Mark/phuonglhk.fg
