
<div class="content">
    <!-- Start Container -->
    <div class="container-default animated fadeInRight" style="padding-bottom:10px; min-height:700px">
        <div class="panel panel-default">
            <div class="panel-title">
                <div class="panel-heading">
                    <h4><i style="color:#4db748" class="fa fa-user-plus"></i> Assign Teachers</h4>
                </div>
            </div>
            <div class="panel-body">
                <table id="" class="table display dataTable cell-border">
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
