<div class="content" style="min-height:800px">
    <div class="panel">
        <div class="panel-heading">
            <h4><i style="color:#4db748" class="fa fa-address-card"></i> Edit marks</h4>
        </div>
        <div class="panel-body">
            <form>
                @*Add student here*@
                <div class="row col-md-12">
                    
                    <div class="col-md-2" style="margin:auto">
                        <a class="btn btn-primary btn-lg" href="@Url.Action("CourseDetails", "Course", new { courseId =Model.CourseId , semesterId = Model.SemesterId })">
                            Go Back
                        </a>
                    </div>
                    <div class="col-md-2" style="margin:auto">
                        <input class="btn btn-success btn-lg" type="submit" />
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>
<script>


</script>