
    <!-- Start Page Loading -->
    
    <!-- Start Content -->
    <div class="content">
        <!-- Start Container -->
        <div class="container-default animated fadeInRight">
            <br>
            <!-- Start Row -->
            <div id="tour-12" class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="mini-stat clearfix bg-facebook rounded">
                        <span class="mini-stat-icon"><i class="fa fa-facebook fg-facebook"></i></span>
                        <div class="mini-stat-info"> <span class="counter" data-counter="counterup" data-value="5,762">0</span> Facebook Like </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="mini-stat clearfix bg-twitter rounded">
                        <span class="mini-stat-icon"><i class="fa fa-twitter fg-twitter"></i></span>
                        <div class="mini-stat-info"> <span class="counter" data-counter="counterup" data-value="7,153">0</span> Twitter Follow </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="mini-stat clearfix bg-googleplus rounded">
                        <span class="mini-stat-icon"><i class="fa fa-google-plus fg-googleplus"></i></span>
                        <div class="mini-stat-info"> <span class="counter" data-counter="counterup" data-value="793">0</span> Google+ Posts </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="mini-stat clearfix bg-bitbucket rounded">
                        <span class="mini-stat-icon"><i class="fa fa-bitbucket fg-bitbucket"></i></span>
                        <div class="mini-stat-info"> <span class="counter" data-counter="counterup" data-value="8,932">0</span> Repository </div>
                    </div>
                </div>
            </div>
            <!-- End Row -->
            <div class="row">
                <!-- Start Right -->
                <div class="col-md-6">
                    <!-- Start Server Status -->
                    <div class="panel panel-widget" style="height:380px;">
                        <div class="panel-title">
                            SERVER STATUS <span class="label label-default">196</span>
                            <ul class="panel-tools">
                                <li><a class="icon"><i class="fa fa-refresh"></i></a></li>
                                <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <ul class="widget-inline-list clearfix">
                                <li class="col-3 color10"><span>27.8GB</span>Total Usage</li>
                                <li class="col-3"><span>91%</span>Space Left</li>
                                <li class="col-3 color7"><span>24%</span>CPU</li>
                                <li class="col-3"><span>512MB</span>Total RAM</li>
                            </ul>
                            <div id="realtime" class="flotchart-placeholder" style="width: 100%;height: 190px;"></div>
                        </div>
                    </div>
                    <!-- End Server Status -->
                </div>
                <!-- End Right -->
                <!-- Start Left -->
                <div class="col-md-6">
                    <!-- Start Today Activity -->
                    <div class="panel panel-widget" style="height:380px;">
                        <div class="panel-title"> TODAY ACTIVITY <span class="label label-success">9</span> </div>
                        <div class="panel-body">
                            <ul class="widget-inline-list clearfix">
                                <li class="col-4"><span>1:51:24</span>Active Time</li>
                                <li class="col-4"><span>50%</span>Completed</li>
                                <li class="col-4"><span>0:10:46</span>Break Time</li>
                            </ul>
                            <div id="chartist-line-scatter" class="ct-chart ct-perfect-fourth" style="width: 100%;height: 235px;"></div>
                        </div>
                    </div>
                    <!-- End Today Activity -->
                </div>
                <!-- End Left -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="weather">
                        <div class="row row-table">
                            <div class="col-md-2 col-sm-3 col-xs-6 text-center bg-info pv-xl">
                                <em class="wi wi-day-sunny fa-4x"></em>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6 pv br">
                                <div class="h1 m0 text-bold">32&deg;</div>
                                <div class="text-uppercase">Clear</div>
                            </div>
                            <div class="col-md-2 col-sm-3 hidden-xs pv text-center br">
                                <div class="text-info text-sm">10 AM</div>
                                <div class="text-muted text-md">
                                    <em class="wi wi-day-cloudy"></em>
                                </div>
                                <div class="text-info">
                                    <em class="wi wi-sprinkles"></em>
                                    <span class="text-muted">20%</span>
                                </div>
                                <div class="text-muted">27&deg;</div>
                            </div>
                            <div class="col-md-2 col-sm-3 hidden-xs pv text-center br">
                                <div class="text-info text-sm">11 AM</div>
                                <div class="text-muted text-md">
                                    <em class="wi wi-day-cloudy"></em>
                                </div>
                                <div class="text-info">
                                    <em class="wi wi-sprinkles"></em>
                                    <span class="text-muted">30%</span>
                                </div>
                                <div class="text-muted">28&deg;</div>
                            </div>
                            <div class="col-md-2 hidden-sm hidden-xs pv text-center br">
                                <div class="text-info text-sm">12 PM</div>
                                <div class="text-muted text-md">
                                    <em class="wi wi-day-cloudy"></em>
                                </div>
                                <div class="text-info">
                                    <em class="wi wi-sprinkles"></em>
                                    <span class="text-muted">20%</span>
                                </div>
                                <div class="text-muted">30&deg;</div>
                            </div>
                            <div class="col-md-2 hidden-sm hidden-xs pv text-center">
                                <div class="text-info text-sm">1 PM</div>
                                <div class="text-muted text-md">
                                    <em class="wi wi-day-sunny-overcast"></em>
                                </div>
                                <div class="text-info">
                                    <em class="wi wi-sprinkles"></em>
                                    <span class="text-muted">0%</span>
                                </div>
                                <div class="text-muted">30&deg;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start Left -->
                <div class="col-md-4">
                    <!-- Start Browser Stats -->
                    <div class="panel panel-widget">
                        <div class="panel-title"> Browser Stats </div>
                        <div class="panel-body">
                            <ul class="basic-list">
                                <li>Google Chrome <span class="right label label-default">43.7%</span></li>
                                <li>Firefox <span class="right label label-danger">15.8%</span></li>
                                <li>Safari <span class="right label label-success">13.2%</span></li>
                                <li>Opera <span class="right label label-primary">10.6%</span></li>
                                <li>Internet Explorer <span class="right label label-danger">3.2%</span></li>
                                <li>Mobile <span class="right label label-warning">3%</span></li>
                                <li>Others <span class="right label label-warning">0%</span></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Browser Stats -->
                </div>
                <!-- End Left -->
                <!-- Start Right -->
                <div class="col-md-4">
                    <!-- Start Teammates -->
                    <div class="panel widget panel-widget">
                        <div class="panel-title"> Teammates </div>
                        <div class="panel-body">
                            <ul class="basic-list image-list">
                                <li><img src="img/profileimg.png" alt="img" class="img"><b>Jonathan Doe</b><span class="desc">Designer</span></li>
                                <li><img src="img/profileimg2.png" alt="img" class="img"><b>John Doe</b><span class="desc">Front-End Developer</span></li>
                                <li><img src="img/profileimg4.png" alt="img" class="img"><b>Timmy Jefsin</b><span class="desc">Back-End Developer</span></li>
                                <li><img src="img/profileimg3.png" alt="img" class="img"><b>James K. Throwing</b><span class="desc">Marketing</span></li>
                                <li><img src="img/profileimg.png" alt="img" class="img"><b>John Doe</b><span class="desc">iOS Developer</span></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Teammates -->
                </div>
                <!-- End Right -->
                <!-- Start Right -->
                <div class="col-md-4">
                    <!-- Start BlogPost -->
                    <div class="panel panel-widget blog-post">
                        <div class="panel-body">
                            <div class="image-div color10-bg">
                                <img src="img/example1.jpg" class="image" alt="img">
                                <h1 class="title"><a href="#">Across the sea of space, the stars are other suns.</a></h1>
                            </div>
                            <p class="text">There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally...</p>
                            <a href="#">Read More</a>
                            <p class="author"> <img src="img/profileimg.png" alt="img"> <span>John Doe</span> Designer </p>
                        </div>
                    </div>
                    <!-- End BlogPost -->
                </div>
                <!-- End Right -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Container -->
    </div>
    <!-- End Content -->