<div class="content">
    <!-- Start Container -->
    <div class="container-default animated fadeInRight" style="padding-bottom:10px">
        <div class="panel panel-default">
            <div class="panel-title"><i class="fa fa-user" style="color:green"></i> Student's List </div>
            <div class="panel-body table-responsive">
                <table id="testTable" class="table display dataTable">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Student ID</th>
                            <th>Student login</th>
                            <th>Name</th>
                            <th>Average</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
        </div>
        </div>
</div>
<script>
    $(document).ready(function () {
        $('#testTable').DataTable({
            "searching": true
        });
    });
</script>