
@{
    ViewBag.Title = "Đăng ký môn";
}

<div class="content">
    <div class="container-default fadeInRight animate">
        <div class="panel panel-default">
            <div class="panel-title"><i class="fa fa-users"></i>Đăng ký môn</div>
            <div class="panel-body">
                @Html.Partial("_RegisterPartial")
            </div>
        </div>
    </div>
</div>
